*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    height:100vh;
}
.df{
    display:flex;
}
.column{
    flex-direction: column;
}
.pink,footer{
    background:rgb(247, 240, 242);
    padding:4% 10% 8% 10%;
}
.white{
    padding:4% 10% 0 10%;
}
header{
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color:black;
}
ul{
  list-style: none;
}
.topleft a{
    font-weight: 800;
    font-size: 19px;
}
header nav li{
    margin-right:15px;
    font-weight: 500;
}
.topright a{
    font-size: 14px;
    font-weight: 700;
    margin-right: 17px;
}
button{
    color:white;
    border:none;
    background:rgb(51, 51, 185);
    padding:12px 17px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
}
.pinkmidleft{
    width:45%;
}
.stars img{
    margin-right: 7px;
}
.ratingsreviews{
    font-size: 14px;
}
.pinkh1{
    margin-top: 2%;
    margin-bottom:3.5% ;
}
.pinkh1 h1{
    font-size: 45px;
}
.pinkh1 p{
    font-size: 15px;
    
}
.freetrails a{
    font-size: 14px;
    color:rgb(51, 51, 185);
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    margin-left: 2.8%;
}
.tick{
    margin-top: 4%;
}
.lefttick img{
    width:9%;
    margin-right: 5px;
}
.lefttick figcaption{
    font-size: 14px;
}
.pinkmidright{
    width:50%;
    justify-content: center;
    align-items: start;
}
.pinkmidright  img{
    width:87%;
    margin-top:-20%;
}
.pinkmid{
    margin-top:12%;
}
.blue{
    justify-content: space-between;
}
.whiteabout p{
    color:rgb(51, 51, 185);
    font-weight:700;
    font-size:15px;
}
.whiteabout h1{
    width:43%;
    margin:2% 0 3% 0;
}
.features img{
    width:9%;
}
.features{
    margin:0 0 5% 0;
}
.features b{
    font-size: 14px;
    margin:2% 0 3% 0;
}
.features p{
    font-size: 14.5px;
    width:80%;
}
.blue{
    background: rgb(51, 51, 185);
    border-radius: 4px;
    padding: 3% 3% 0 3%;
    justify-content:flex-end;
    color:white;
}
.blue button{
    color: rgb(51, 51, 185);
    background: white;
    font-weight:800;
    font-size:19px;
    padding:19px;
}
.blue h1{
    font-size: 2em;
    margin-top: 20%;
}
.blueright{
    width:80%;   
}
.blue p{
    opacity: 0.8;
    width:75%;
    margin: 2% 0;
}
.blueleft{
    width:70%;
}
.blue img{
    width:100%;
    height:100%;
}

.reviewsinfo{
    border:2px rgba(128, 128, 128,0.5) solid;
    padding:2%;
    border-radius: 4px;
    margin:4% 0; 
    width:32%;
}
.reviews img{
    width:80%;
}
.reviews h4{
    color:rgb(51, 51, 185);
}
.reviews p{
    font-size: 15px;
    font-weight: 600;
}
.reviewsmid p{
    margin:4% 0;
}
.reviews button{
    width:100%;
    color:rgb(51, 51, 185);
    background: white;
    border:1px rgba(128, 128, 128,0.5) solid;
    font-weight: 800;
}
.reviews{
    justify-content: space-between;
    
}
footer{
    padding: 3% 10%;
}