*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    height:100vh;
}
.df{
    display:flex;
}
#hidden{
    display:none;
}
.column{
    flex-direction: column;
}
.pink,footer{
    background:rgb(247, 240, 242);
    padding:4% 10% 8% 10%;
}
.white{
    padding:4% 10% 0 10%;
}
header{
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color:black;
}
ul{
  list-style: none;
}
.topleft a{
    font-weight: 800;
    font-size: 19px;
}
header nav li{
    margin-right:15px;
    font-weight: 500;
}
.topright a{
    font-size: 14px;
    font-weight: 700;
    margin-right: 17px;
}
button{
    cursor:pointer;
    color:white;
    border:none;
    background:rgb(51, 51, 185);
    padding:12px 17px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
}
.pinkmidleft{
    width:45%;
}
.stars img{
    margin-right: 7px;
    max-width:17px;
}
.ratingsreviews{
    font-size: 14px;
}
.pinkh1{
    margin-top: 2%;
    margin-bottom:3.5% ;
}
.pinkh1 h1{
    font-size: 45px;
}
.pinkh1 p{
    font-size: 15px;
    
}
.freetrails a{
    font-size: 14px;
    color:rgb(51, 51, 185);
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    margin-left: 2.8%;
}
.tick{
    margin-top: 4%;
}
.lefttick img{
    width:9%;
    margin-right: 5px;
}
.lefttick figcaption{
    font-size: 14px;
}
.pinkmidright{
    width:50%;
    justify-content: center;
    align-items: start;
}
.pinkmidright  img{
    width:87%;
    margin-top:-20%;
}
.pinkmid{
    margin-top:12%;
}
.blue{
    justify-content: space-between;
}
.whiteabout p{
    color:rgb(51, 51, 185);
    font-weight:700;
    font-size:15px;
}
.whiteabout h1{
    width:43%;
    margin:2% 0 3% 0;
}
.features img{
    width:9%;
}
.features{
    margin:0 0 5% 0;
}
.features b{
    font-size: 14px;
    margin:2% 0 3% 0;
}
.features p{
    font-size: 14.5px;
    width:80%;
}
.blue{
    background: rgb(51, 51, 185);
    border-radius: 4px;
    padding: 3% 3% 0 3%;
    justify-content:flex-end;
    color:white;
}
.blue button{
    color: rgb(51, 51, 185);
    background: white;
    font-weight:800;
    font-size:19px;
    padding:19px;
}
.blue h1{
    font-size: 2em;
    margin-top: 20%;
}
.blueright{
    width:80%;   
}
.blue p{
    opacity: 0.8;
    width:75%;
    margin: 2% 0;
}
.blueleft{
    width:70%;
}
.blue img{
    width:100%;
    height:100%;
}

.reviewsinfo{
    border:1.5px rgba(128, 128, 128,0.5) solid;
    padding:2%;
    border-radius: 4.8px;
    margin:4% 0; 
    width:32%;
}
.reviews img{
    width:80%;
}
.reviews h4{
    color:rgb(51, 51, 185);
}
.reviews p{
    font-size: 15px;
    font-weight: 600;
}
.reviewsmid p{
    margin:4% 0;
}
.reviews button{
    width:100%;
    color:rgb(51, 51, 185);
    background: white;
    border:1px rgba(128, 128, 128,0.5) solid;
    font-weight: 800;
}
.reviews{
    justify-content: space-between;
    
}
footer{
    padding: 3% 10%;
    justify-content: space-between;
}
.Fiber{
    width:34%;
}
footer h3{
    margin-bottom: 9px;
}
footer a{
    margin-bottom: 8px;
}
@media (max-width:700px){
    .topright,.topmid,.ratings{
        display:none;
    }
    
    .topmid{
        position:absolute;
        flex-direction: column;
        top:7%;
        left:0;
        right:0;
        border:0.2px rgb(187, 183, 183) solid;
        border-radius: 10px;
        padding:4% 0 4% 37%;
        font-size: 20px;
        font-weight:700;
        background:rgb(247, 240, 242);

    }
    #hidden{
        display:block; 
    }
    .pinkmid{
        flex-direction: column-reverse;
    }
    .pinkmidright{
        width:100%;
    }
    .pinkmidright img{
        margin:0;
        width: 100%;
    }
    .pinkmidleft{
        width:100%;
    }
    .freetrails{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .freetrails button{
        width:100%;
        padding:17px;
        font-size: 17px;
        margin:9px 0;
    }
    .freetrails a{
        font-size:17px;
        margin-bottom: 11px;
    }
    .tick{
        flex-direction: column;
    }
    .lefttick{
        align-items: center;
        margin-bottom: 10px;
    }
    .whiteabout h1{
        width:90%;
        margin:7% 0 10% 0;
    }
    .features{
        flex-direction: column;
    }
    .features b{
        margin:9px 0 12px 0;
    }
    .features p{
        width:100%;
        line-height:1.4rem;
        margin-bottom: 7%;
    }
    .blue{
        flex-direction: column;
        padding:10% 10% 0 10%;
        border-radius: 9px;
    }
    .blueleft{
        width:100%;
    }
    .blue h1{
        width:100%;
        margin:0;
    }
    .blue p{
        width:90%;
        margin:13px 0;
    }
    .blue button{
        width:100%;
        margin-bottom: 20%;
    }
    .blueright{
        width:100%;
        display: flex;
        justify-content: end;
        height:300px;
    }
    .reviews{
        flex-direction: column;
    }
    .reviewsinfo{
        width:100%;
        padding:20px;
    }
    footer{
        flex-direction: column;
        padding-top: 13%;
        padding-bottom: 4%;
    }
    .Fiber {
        width:100%;
    }
    .Fiber p{
        width:90%;
    }
    .down{
        margin-bottom:17px;
    }
    .white{
        padding-bottom: 30px;
    }   
}
/* sign up page */
.signupform{
    padding:3% 0 0 5%;
    width:40%;

    border-style: solid;
}
.signupform h1{
    margin:2% 0 4% 0;
}
.gap{
    margin-bottom: 4%;
}
.signupform label{
    font-weight: 700;
    font-size:15px;
    margin-bottom: 30px;
}
.signupform form{
    width:77%;
}
.terms a{
    text-decoration: underline;
    color:rgb(51, 51, 185);
    font-weight: 700;
}
.signupform button{
    width:100%;
    font-size:13px;
    padding:14px;
    margin-bottom: 3%;
    border-radius: 3px;
}
.signupform input {
    margin-top:7px;
    padding:12px;
    border-radius: 4px;
    border:1.4px solid rgba(128, 128, 128,0.3);
}
.terms label{
    font-weight: 600;
}

.terms input{
    margin:0;
    margin-right: 4px;   
}
.create p{
    font-weight: 500;
    font-size: 15px;
}
.create a{
    color:rgb(51, 51, 185);
}
.create{
    align-items: center;
    justify-content: space-between;
}
.bluesign{
    border-style: solid;
}
::placeholder{
    font-weight: 400;
    font-size: 14px;
}
.password{
    position: relative;
}
.password img{
    position:absolute;
    width:20px;
    right:7px;
    bottom:9px;
    cursor: pointer;
}
img:active{
    opacity: 0.2;
}